.agents/
awesome-agv/
licenta_finala_latex_corectata__5.zip
licenta_finala_latex_corectata__5_/
powershell.bat
scratch_find_face.py
search_app.py
unzip.py
anchorExe/backend/venv/Lib/
anchorExe/backend/venv/Scripts/
anchorExe/backend/venv/debug_db_dump.txt
anchorExe/backend/venv/debug_vision_log.txt
anchorExe/backend/venv/pyvenv.cfg
anchorExe/backend/venv/test_face_precision.py
anchorExe/backend/venv/uploads/
*.pyc
__pycache__/
venv/
node_modules/
.gemini/
